.nav-color {
  background-color: rgb(245, 247, 252);
}
img {
  width: 1.5rem;
  height: 1.5rem;
}
.nav .menu-item {
  font-size: 14px;
  color: rgb(36, 37, 39);
}

.menu-item:hover {
  background: #fff;
  font-weight: bold;
}
