.banner {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 400vh;
  max-width: calc(100% - 60px);
  margin: auto;
  margin-top: -5.5rem;
}

.item-banner-img img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}