.page-add-film {
    margin-bottom: 2rem;
}
.title-page {
  margin-top: 2rem;
  padding-left: 32px;
}

.gach-chan-ql-add-r1 {
  width: 66rem;
  position: absolute;
  height: 1px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  bottom: 4px;
  margin-left: 1rem;
}

.form-info-film {
  background-color: white;
  border-radius: 3%;
  margin-left: 32px;
  margin-top: 2rem;
}

.date-add {
  width: 14rem;
}
.time-add {
  width: 14.5rem;
}
.name-add,
.gioi-thieu,
.trailer-add {
  width: 29.5rem;
}

.form-add-info {
  padding: 1rem;
  margin-left: 1.5rem;
}

.gach-chan-ql-add-r2-c1 {
  width: 34.4rem;
  position: absolute;
  height: 0.5px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  margin-left: -2.5rem;
}
.content-form-add-info {
  margin-top: 1.5rem;
}
.form-img-film {
  background-color: white;
  border-radius: 3%;
  width: 25rem;
  margin-left: 4rem;
  margin-top: 2rem;
}
.form-add-img {
  padding: 1rem;
}
.gach-chan-ql-add-r2-c2 {
  width: 25rem;
  position: absolute;
  height: 0.5px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  margin-left: -1rem;
}

.content-form-add-img{
    margin-top: 2rem;
}
.bnt-save-film {
    margin-top: 2rem;
    margin-left: 4rem;
}

.bnt-save-film .bnt-save {
    width: 25rem;
}