.header-ql {
    display: flex;
    align-items: center;
    position: fixed;
    height: 76px;
    width: 70.1rem;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(230, 235, 245);
    margin-left: -3.1rem;
    padding-left: 32px;
    padding-right: 32px;
  }
  .left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4rem;
  }
  .logo-header {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo-header a {
    background-color: transparent;
  }
  .logo-header img {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
  }
  .img-avt img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .user-name {
    margin-left: 1rem;
  }
  .user-name h6 {
    margin-top: 0.7rem;
    font-size: 16px;
  }