.buy {
  width: 58rem;
  margin-left: 20rem;
  margin-top: 6rem;
  background-color: rgb(255, 255, 255);
}
.info-title-buy {
  padding-top: 1rem;
  padding-left: 1rem;
}

.rap {
  margin-top: 1rem;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 12px;
  padding-right: 12px;
}
.rap-chieu {
  background-color: rgb(245, 247, 252);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(42, 45, 52);
  border-right: 1px solid rgb(45, 194, 117);
  padding: 12px 16px;
}
.rap-chieu img {
  width: 24px;
  margin-right: 16px;
  border-radius: 4px;
  border: 1px solid rgb(245, 247, 252);
  box-sizing: border-box;
}
.info-xuat-chieu {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
  padding-left: 12px;
  padding-right: 12px;
}

.collapse {
  margin-top: 1rem;
}

.thoi-gian {
  border-radius: 8px;
  padding: 24px 28px;
  background-color: rgb(245, 247, 252);
  font-weight: normal;
}

.loai-phim {
  color: rgb(42, 45, 52);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
}

.gio {
  margin-bottom: 8px;
  cursor: pointer;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgb(230, 235, 245);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-style: normal;
  color: rgb(42, 45, 52);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
