.content-ql {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 2rem;
}
.button {
  display: flex;
}
.button-add-film {
  margin-right: 2rem;
}
.bnt-event {
  text-transform: none;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  background: #2dc275;
  color: #fff;
}
.bnt-event i {
  margin-right: 8px;
}

.bnt-event:hover {
  background: #229459;
}

.list-ql {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search-list {
  display: flex;
  margin-bottom: 1rem;
}
.search-list-img {
  padding-top: 4px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.input-color {
  background-color: white;
  border: none;
  width: 25rem;
}
.ngay-cong-chieu {
  display: flex;
  margin-left: 7rem;
  margin-top: 1rem;
}
.ngay-cong-chieu h4 {
  padding-top: 3px;
}
.ngay-cong-chieu .date-picker-cong-chieu {
  margin-left: 1rem;
}

table,
th,
td {
  border: 1px solid gray;
}
th,
td {
  padding: 10px;
  text-align: center;
}

td {
  cursor: pointer;
}

.trailer,
.movie {
  text-align: left;
}

.movie {
  display: flex;
}

.movie img {
  width: 3rem;
  height: 4rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.movie p {
  font-weight: bold;
}
