.page-add-film, .page-update-film {
  margin-bottom: 2rem;
}
.title-page {
  margin-top: 2rem;
  padding-left: 32px;
}

.gach-chan-ql-add-r1 {
  width: 66rem;
  position: absolute;
  height: 1px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  bottom: 4px;
  margin-left: 1rem;
}
.form-add_container, .form-update_container {
  display: flex;
}
.form-add-info, .form-update-info {
  background-color: white;
  border-radius: 3%;
  margin-top: 2rem;
  padding: 1rem;
  margin-left: 1.5rem;
}
.nlb{
  display: flex;
  justify-content: space-between;
}
.date-time {
  display: flex;
  justify-content: space-between;
}
.input {
  display: flex;
}
.input p {
  font-size: 14px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.name-add, .name-update{
  width: 20rem;
}

.label-add, .label-update{
  width: 5rem;
}
.gioi-thieu,
.trailer-add, .trailer-update {
  width: 29.5rem;
}

.gach-chan-ql-add-r2-c1 {
  width: 31.5rem;
  position: absolute;
  height: 0.5px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  margin-left: -1rem;
}
.content-form-add-info, .content-form-update-info {
  margin-top: 1.5rem;
}
.content-form-add-info h5, .content-form-update-info h5 {
  font-size: 15px;
  margin-top: 1.5rem;
}
.form-add-img, .form-update-img {
  background-color: white;
  border-radius: 3%;
  width: 25rem;
  margin-left: 4rem;
  margin-top: 2rem;
  padding: 1rem;
}
.gach-chan-ql-add-r2-c2 {
  width: 25rem;
  position: absolute;
  height: 0.5px;
  background: rgb(195, 195, 197);
  border-radius: 80px;
  margin-left: -1rem;
}

.content-form-add-img, .content-form-update-img {
  margin-top: 2rem;
}

.bnt-save-film {
  margin-top: 2rem;
  margin-left: 4rem;
}

.bnt-save-film .bnt-save {
  text-transform: none;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 95%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  background: #2dc275;
  color: #fff;
}

.bnt-save:hover {
  background: #229459;
}

.content-ql {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 2rem;
}
.button {
  display: flex;
}
.button-add-film {
  margin-right: 2rem;
}
.bnt-event {
  text-transform: none;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  background: #2dc275;
  color: #fff;
}
.bnt-event i {
  margin-right: 8px;
}

.bnt-event:hover {
  background: #229459;
}

.list-ql {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search-list {
  display: flex;
  margin-bottom: 1rem;
}
.search-list-img {
  padding-top: 4px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.input-color {
  background-color: white;
  border: none;
  width: 25rem;
}
.ngay-cong-chieu {
  display: flex;
  margin-left: 7rem;
  margin-top: 1rem;
}
.ngay-cong-chieu h4 {
  padding-top: 3px;
}
.ngay-cong-chieu .date-picker-cong-chieu {
  margin-left: 1rem;
}
.list-film{
  overflow: scroll;
  height: 25rem;
}
.table-film{
  width: 100%;
}
.table-film,
.th_film,
td {
  border: 1px solid gray;
}
.th_film,
td {
  padding: 10px;
  text-align: center;
}

td {
  cursor: pointer;
}

.trailer,
.movie {
  text-align: left;
}

.movie {
  display: flex;
}

.movie img {
  width: 3rem;
  height: 4rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.movie p {
  font-weight: bold;
}
