.content-ql {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 2rem;
}
.button{
  display: flex;
}
.button-add-film{
  margin-right: 2rem;
}
.list-ql {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search-list {
  display: flex;
  margin-bottom: 1rem;
}
.search-list-img {
  padding-top: 4px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.input-color {
  background-color: white;
  border: none;
  width: 25rem;
}
.ngay-cong-chieu {
  display: flex;
  margin-left: 7rem;
  margin-top: 1rem;
}
.ngay-cong-chieu h4 {
  padding-top: 3px;
}
.ngay-cong-chieu .date-picker-cong-chieu {
  margin-left: 1rem;
}

table, th, td {  
  border: 1px solid gray;
}  
th, td {  
  padding: 10px;
  text-align: center;
} 