.new-event-container {
  background: rgb(241, 240, 240);
  padding: 1rem;
  margin: 0 4rem;
  border-radius: 8px;
}
h2{
  font-size: 23px;
  font-weight: bold;
  color: #2dc275;
}
h5{
  font-size: 15px;
  margin: 0.5rem 0;
}
.content{
  display: flex;
  justify-content: space-around;
}

.select-film-sl, .select-room-sl{
  width: 21rem;
}

.time-start, .add-price{
  display: flex;
}

.gia{
  width: 8rem;
}