.PopupTrailer {
  position: fixed;
  inset: 0px;
  z-index: 9999;
  transition: opacity 200ms ease-in-out 0s;
  background-color: rgba(42, 45, 52, 0.8);
}

.popup-trailer-container {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  outline: none;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #ffffff;
  width: 612px;
}

.buttons-handle {
  margin-top: 16px;
  display: flex;
  white-space: nowrap;
}

.buttons-handle .button-close-popup,
.button-buy-ticket {
  text-transform: none;
  appearance: button;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
}

.buttons-handle .button-close-popup {
  margin-right: 4px;
  background: transparent;
  color: #2dc275;
  border: 1px solid #2dc275;
}

.buttons-handle .button-buy-ticket {
  background: #2dc275;
  color: #ffffff;
}

.buttons-handle .button-close-popup:hover {
  color: #229459;
  border: 1px solid #229459;
}

.buttons-handle .button-buy-ticket:hover {
  background: #229459;
}
