.title-user {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.img-user {
  margin-right: 8px;
}

.title-user h2,
.title-user .img-user {
  text-align: center;
}

.title-user h2 {
  margin-bottom: -0.01pt;
}

.radio__item {
  margin-bottom: 10px;
  padding: 24px 16px;
  height: 3rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(230, 235, 245);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
