.list-movies {
    margin-left: 30rem;
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.fxBUQz a {
    padding: 16px;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.iCpFVO {
    width: 64px;
    min-width: 64px;
    height: 96px;
    border-radius: 6px;
    object-fit: cover;
}
.bJssZW {
    padding-left: 16px;
    max-width: calc((100% - 64px) - 64px);
}
.lnTHjc {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgb(42, 45, 52);
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cddFno {
    padding-top: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: rgb(96, 103, 120);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kJSANu {
    padding-top: 4px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(96, 103, 120);
}
.gITmFu.small {
    width: 64px;
}


.fSWIkt.primary {
    background: rgb(45, 194, 117);
    color: rgb(255, 255, 255);
}

.fSWIkt.small {
    border-radius: 12px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    min-width: 52px;
    padding: 0px 12px;
}

.gITmFu {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.fSWIkt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}