.ve {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(230, 235, 245);
  border-radius: 8px;
  padding: 24px;
  width: 25rem;
}

.poster {
  display: flex;
}

.poster img {
  width: 6rem;
  height: 8rem;
  border-radius: 5%;
}
.loai-va-gia {
  display: flex;
}
.loai-va-gia .gia-ve {
  margin-left: 10rem;
}

.gach-ngang {
  position: absolute;
  width: 22rem;
  height: 1px;
  background: rgb(84, 85, 88);
  border-radius: 80px;
  margin-top: 2rem;
}
.check-box-access a {
  color: #2dc275;
}
.button-thanh-toan {
  text-transform: none;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  background: #2dc275;
  color: #fff;
}

.thong-tin-ve-phim {
  margin-left: 10px;
}

.button-thanh-toan:hover {
  background: #229459;
}

.phong-ve .pv-list {
  display: flex;
}

.phong-ve .pv-list .pv-child:not(:last-child) {
  margin-right: 5px;
}

.rcld {
  width: 100%;
  display: flex;
  justify-content: center;
}
