.import-otp {
  background-color: white;
  width: 360px;
  margin: 50px auto 0 auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.back {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 16px;
  margin-left: 16px;
  cursor: pointer;
}

span {
  font-family: Roboto, sans-serif !important;
  font-weight: normal;
  color: #2a2d34;
  white-space: 1px;
}

.top {
  margin-top: 24px;
  font-weight: 400;
}

.phone-number {
  font-weight: bold;
  line-height: 20px;
  font-size: 14px !important;
  align-items: center;
}

.input-otp {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.input-otp .input-0,
.input-1,
.input-2,
.input-3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  width: 48px;
  height: 48px;
  margin: 0 0 0 4px;
  border-radius: 4px;
  outline: none;
  background-color: #e6e6e6;
  caret-color: #2dc275;
  border: none;
}

.input-otp input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrong-otp {
  margin-top: 10px;
  padding: 4px 14px;
  display: block;
  height: 52px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(238, 79, 20);
  text-align: center;
}

.space {
  padding: 4px 14px;
  display: block;
  height: 52px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(238, 79, 20);
  text-align: center;
}

.question {
  margin-top: 50px;
  font-weight: 300;
}

.resend-otp {
  margin-top: 8px;
}

.resend-otp span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: rgb(45, 194, 117);
}

.rcld-ipotp {
  margin-top: 16px;
}

.next-button-ipotp {
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  min-width: 88px;
  margin-top: 16px;
  padding: 0px 24px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #f0f0f0;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .import-otp {
    max-width: 720px;
  }
}
