.event-manager-container {
  width: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.event-manager-container .steb-01 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px #f0f0f0 solid;
  padding-bottom: 10px;
}

.event-manager-container .steb-01 .range-date-picker {
  width: 400px;
  height: 40px;
  background-color: #f0f0f0;
}

.event-manager-container .steb-01 .select-name-movie .ant-select-selector {
  height: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #f0f0f0;
}

.event-manager-container
  .steb-01
  .select-name-movie
  .ant-select-selector
  .ant-select-selection-search
  .ant-select-selection-search-input {
  height: 100%;
  width: 100%;
}

.event-manager-container
  .steb-01
  .select-name-movie
  .ant-select-selector
  .ant-select-selection-placeholder {
  margin: auto 0;
}

.table-event {
  width: 100%;
}

.table-event,
.th-event,
.td-event {
  border: 3px solid #ffffff;
  background: #f0f0f0;
}
.th-event,
.td-event {
  padding: 10px;
}

.td-event {
  cursor: pointer;
}

.show-time,
.price {
  text-align: left;
}

.btn-cst {
  text-transform: none;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  background: #2dc275;
  color: #fff;
  margin: 1rem 3rem;
}

.btn-cst:hover {
  background: #229459;
}
